@tailwind base;
@tailwind components;
@tailwind utilities; 

@font-face {
    font-family: "Graphic-medium";
    src: url("/Graphik-Medium-Web.woff2");
  }
  @font-face {
    font-family: "Graphic-regular";
    src: url("/Graphik-Regular-Web.woff2");
  }
  @font-face {
    font-family: "Graphic-semibold";
    src: url("/Graphik-Semibold-Web.woff2");
  }

  .bottom-development {
    background: radial-gradient(50% 50% at 50% 50%,#7bdde2 0,rgba(127,208,231,0) 100%);
    background-image: radial-gradient(50% 50% at 50% 50%, rgb(123, 221, 226) 0px, rgba(127, 208, 231, 0) 100%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    opacity: .6;
    filter: blur(159.73px);
}
.near-logo {
  background: radial-gradient(50% 50% at 50% 50%,#8e9af9 0,rgba(127,208,231,0) 100%);
  background-image: radial-gradient(50% 50% at 50% 50%, rgb(142, 154, 249) 0px, rgba(127, 208, 231, 0) 100%);
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  opacity: .5;
  filter: blur(159.73px);
}
.hero-background-color {
  background-image: radial-gradient(50% 50% at 50% 50%,#8e9af9 0,rgba(127,208,231,0) 100%);
}